version: '3.8'
services:
  backend:
    build: ./backend
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - ./backend:/myapp
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=sqlite3:/myapp/db/development.sqlite3

  frontend:
    build: ./frontend
    command: npm run dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3002:3002"
    environment:
      - CHOKIDAR_USEPOLLING=true